:root {
  --cor-0: #ffffff;
  --cor-1: #b5b5b5;
  --cor-2: #6e6e6e;
  --cor-3: #686868;
  --cor-4: #707070;
  --cor-5: #262626;
  --cor-6: #2c2c2c;
  --cor-7: #0c0c0c;
  --cor-8: #000000;

  --cor-p1: #fec024;
  --cor-p2: #f89d24;
  --cor-p3: #ffa700;
  --cor-p4: #ff9000;
  --cor-p5: #ff6a00;
  --cor-p6: #ff4f00;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
.cor-p6 {
  color: var(--cor-p6);
}
